<div class="c-section">
  <div class="c-card profile-card u-padding">
    <div class="avatar-large">
      <%= image_tag @user.avatar, class: "avatar-large-image" %>
    </div>
    <h1 class="u-margin-none"><%= @user.name %></h1>

  <h3 class="u-margin-top-none c-title c-title--tiny">From <%= @user.city %>, <%= @user.state %></h3>
  <% if current_user === @user %>
    <a href="mailto:<%= @user.email %>" class="c-link u-margin-bottom"> <%= @user.email %></a>
    <%= link_to "Edit Profile", edit_user_registration_path(@user), class: 'c-button c-button--focal' %>
  <% end %>
  <div class="c-section">
    <div class="form-wrapper">
        <div class="c-card">
            <div class="u-float-left u-margin-left u-margin-right c-title">
            <h3 class="c-title u-margin-top">"<%= @user.bio %>"</h3>
            </div>
        </div>
    </div>
  </div>
</div>
  </div>
