<div class="c-section">
  <div class="form-wrapper">
    <h1 class="c-title c-title--large c-title--center">Add a Plant to Your Sunroom</h1>
    <div class="field">
      <div class="c-input">
        <div class="c-input__label">Plant Name:</div> 
        <%= react_component('LiveSearch')%>
      </div>
    </div>
    <%= form_for @plant do |form| %>
      <div class="field">
          <%= form.hidden_field :plant_type_id, class: "c-input__text", placeholder: "Enter Plant Name" %>
      </div>
      <div class="field">
        <div class="c-input">
          <div class="c-input__label">Description:</div>
          <%= form.text_field :description, class: "c-input__text", placeholder: "Enter Description" %>
        </div>
      </div>
      <div class="field">
        <div class="c-input u-margin-bottom">
          <div class="c-input__label">Image: </div>
          <%= form.file_field :image, direct_upload: true %>
        </div>
      </div>
      <div><%= form.submit "Add Plant", class: "c-button c-button--focal c-button--full-width u-margin-bottom" %></div>
    <% end %>
  </div>
</div>
