
  <h1>Add a plant to your sunroom</h1>
  <div>

    <%= form_for @plant do |form| %>
      <div>Scientific Name: <%= form.text_field :title %></div>
      <div>Price: <%= form.text_field :price %></div>
      <div>Image: <%= form.file_field :image, direct_upload: true %></div>
  </div>
  <div><%= form.submit %></div>
  <% end %>


   <!-- type ahead search that queries my database and returns data
will have an end point in controller that accepts param


or JS library can handle this for me
react

remote request throttle

search for react typeahead search
   -->
