<div class="c-section">
  <div class="form-wrapper">
    <h1 class="c-title c-title--large">Log in</h1>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="c-input">
          <%= f.label :email, class: "c-input__label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "c-input__text", placeholder: "Enter Email" %>
        </div>

        <div class="c-input">
          <%= f.label :password, class: "c-input__label" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "c-input__text",  placeholder: "Enter Password" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="c-input c-input--clear u-margin-bottom">
            <%= f.check_box :remember_me, class: "c-input__checkbox" %>
            <%= f.label :remember_me, class: "c-input__label c-input__label--inline" %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: "c-button c-button--focal c-button--full-width u-margin-bottom" %>
        </div>
      <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>