<h1>Proposed Trades</h1>
<%# @proposed_trades.each do |trade| %>
  <div>
    <h2>Trade with <%# trade.user_a.first_name %>, <%# trade.created_at %></h2>
    <%# trade.plants.each do |plant| %>
      <h3>Plants you're getting</h3>
        <%# if plant.user_id == current_user.id %>
            <div class="plant-list-item--plant-name">
              <%# plant.plant_type.common_name %> <br />
            </div>
        <%# end %>
      <div>User: <%# plant.user_id %></div>
    <%# end %>
  </div>
<%# end %>

<hr />

<h1>My Trades</h1>
<% @trades.each do |trade| %>
  <div>
    <h2>Trade with <%= trade.user_a.first_name %>, <%= trade.created_at %></h2>
    <% trade.plants.each do |plant| %>
      <h3>Plants you're getting</h3>
        <% if plant.user_id == current_user.id %>
          <div class="c-card plant-card">
            <a href="<%= plant_path(plant) %>">
              <%= image_tag plant.image, class: "plant-card-image" %>
              <div class="c-section c-section--flush plant-card-title">
                <h2 class="c-title u-padding-top-small u-margin-bottom-tiny">
                  <%= plant.plant_type.common_name %>
                </h2>
                <h5 class="c-title c-title--label u-margin-bottom-small u-margin-top-none">
                  <%= plant.plant_type.scientific_name %>
                </h5>
              </div>
            </a>
          </div>
          <% else %>
            <h3>Plants you're giving</h3>
            <div class="c-card plant-card">
              <a href="<%= plant_path(plant) %>">
                <%= image_tag plant.image, class: "plant-card-image" %>
                <div class="c-section c-section--flush plant-card-title">
                  <h2 class="c-title u-padding-top-small u-margin-bottom-tiny">
                    <%= plant.plant_type.common_name %>
                  </h2>
                  <h5 class="c-title c-title--label u-margin-bottom-small u-margin-top-none">
                    <%= plant.plant_type.scientific_name %>
                  </h5>
                </div>
              </a>
            </div>
        <% end %>
      <div>User: <%= plant.user_id %></div>
    <% end %>

    <%# trade.plants.each do |plant| %>
      <div><%# plant.plant_type.scientific_name %> <%# plant.plant_type.common_name %></div>
    <%# end %>

  </div>

<% end %>
  <!-- <div class="Your trade with <%# @trade.user_b %>"> -->

<!--     <div class="card">
      <%# image_tag url_for(plant.image),  class: "plant-list-item-image" %>
      <br />
      <div class="plant-list-item--plant-name">
        <%# plant.plant_type.common_name %> <br />
        <div class="scientific-name">
          <%# plant.plant_type.scientific_name %>
        </div>
      </div>
    </div>
  </div> -->
<%# end %>
