<div class="c-section">
  <h1 class="c-title c-title--large u-margin-bottom-small">Pending Trades</h1>
    <% @trades_pending.each do |trade| %>
      <div>
        <h2 class="c-title c-title--medium u-margin-bottom-small">
          Trade with <%= trade.other_users_name(current_user) %>, <%= trade.created_at.strftime("%m/%d/%Y") %>, ID: <%= trade.id %>
        </h2>
        <p>Participants: <%= trade.user_a.first_name %> & <%= trade.user_b.first_name %></p>
        <div class="status-chip">Status: <%= trade.status %></div>
        <div class="trade-container c-card u-padding-top u-padding-bottom u-margin-bottom">
          <div class="trade-container-plants">
              <h2>Plants I'm getting</h2>
              <div class="plant-grid">
                <% trade.plants_being_received(current_user).each do |plant| %>
                  <div class="c-card plant-card">
                    <a href="<%= plant_path(plant) %>">
                      <%= image_tag plant.image, class: "plant-card-image" %>
                      <div class="c-section c-section--flush plant-card-title">
                        <h2 class="c-title u-padding-top-small u-margin-bottom-tiny">
                          <%= plant.plant_type.common_name %>
                        </h2>
                        <h5 class="c-title c-title--label u-margin-bottom-small u-margin-top-none">
                          <%= plant.plant_type.scientific_name %>
                        </h5>
                      </div>
                    </a>
                  </div> 
                <% end %>
              </div>
          </div>

          <div class="trade-container-plants">
            <h2>Plants I'm giving</h2>
            <div class="plant-grid">
              <% trade.plants_being_given(current_user).each do |plant| %>
                <div class="c-card plant-card">
                  <a href="<%= plant_path(plant) %>">
                    <%= image_tag plant.image, class: "plant-card-image" %>
                    <div class="c-section c-section--flush plant-card-title">
                      <h2 class="c-title u-padding-top-small u-margin-bottom-tiny">
                        <%= plant.plant_type.common_name %>
                      </h2>
                      <h5 class="c-title c-title--label u-margin-bottom-small u-margin-top-none">
                        <%= plant.plant_type.scientific_name %>
                      </h5>
                    </div>
                  </a>
                </div> 
              <% end %>
            </div>
        </div>
      </div> 
    <% end %>
</div>

<hr>




<br/ >
<br/>

<h1>Proposed Trades</h1>
<%# @proposed_trades.each do |trade| %>
  <div>
    <h2>Trade with <%# trade.user_a.first_name %>, <%# trade.created_at %></h2>
    <%# trade.plants.each do |plant| %>
      <h3>Plants you're getting</h3>
        <%# if plant.user_id == current_user.id %>
            <div class="plant-list-item--plant-name">
              <<%# plant.plant_type.common_name %> <br />
            </div>
        <%# end %>
      <div>User: <%# plant.user_id %></div>
    <%# end %>
  </div>
end