<% if @trades_pending.any? %>

  <div class="green-hero u-margin-bottom-none">
    <h1 class="u-margin-none">Pending Trades</h1>
  </div>
  <div class="c-section">
    <% @trades_pending.each do |trade| %>
      <div>
        <h2 class="c-title c-title--label--large u-margin-bottom-small">
          Trade with <%= trade.other_users_name(current_user) %> on <%= trade.created_at.strftime("%m/%d/%Y") %>
        </h2>
        <div class="trade-container c-card u-padding-top u-padding-bottom u-margin-bottom-large">
          <div class="trade-container-plants">
              <h2 class="c-title c-title--small">Plants I'm getting</h2>
              <div class="plant-grid">
                <% trade.plants_being_received(current_user).each do |plant| %>
                  <div class="c-card plant-card">
                    <a href="<%= plant_path(plant) %>">
                      <%= image_tag plant.image, class: "plant-card-image" %>
                      <div class="c-section c-section--flush plant-card-title">
                        <h2 class="c-title u-padding-top-small u-margin-bottom-tiny">
                          <%= plant.plant_type.common_name %>
                        </h2>
                        <h5 class="c-title c-title--label u-margin-bottom-small u-margin-top-none">
                          <%= plant.plant_type.scientific_name %>
                        </h5>
                      </div>
                    </a>
                  </div> 
                <% end %>
              </div>
          </div>

          <div class="trade-container-plants">
            <h2 class="c-title c-title--small">Plants I'm giving</h2>
            <div class="plant-grid">
              <% trade.plants_being_given(current_user).each do |plant| %>
                <div class="c-card plant-card">
                  <a href="<%= plant_path(plant) %>">
                    <%= image_tag plant.image, class: "plant-card-image" %>
                    <div class="c-section c-section--flush plant-card-title">
                      <h2 class="c-title u-padding-top-small u-margin-bottom-tiny">
                        <%= plant.plant_type.common_name %>
                      </h2>
                      <h5 class="c-title c-title--label u-margin-bottom-small u-margin-top-none">
                        <%= plant.plant_type.scientific_name %>
                      </h5>
                    </div>
                  </a>
                </div> 
              <% end %>
            </div>
        </div>
      </div> 
    <% end %>
  </div>
<% end %>
<% if @trades_completed.any? %>
  <h1 class="c-title c-title--large u-margin-bottom-small">Completed Trades</h1>
  <% @trades_completed.each do |trade| %>
    <div>
      <h2 class="c-title c-title--medium u-margin-bottom-small">
        Trade with <%= trade.other_users_name(current_user) %>, <%= trade.created_at.strftime("%m/%d/%Y") %>
      </h2>
      <div class="trade-container c-card u-padding-top u-padding-bottom u-margin-bottom">
        <div class="trade-container-plants">
            <h2>Plants I'm getting</h2>
            <div class="plant-grid">
              <% trade.plants_being_received(current_user).each do |plant| %>
                <div class="c-card plant-card">
                  <a href="<%= plant_path(plant) %>">
                    <%= image_tag plant.image, class: "plant-card-image" %>
                    <div class="c-section c-section--flush plant-card-title">
                      <h2 class="c-title u-padding-top-small u-margin-bottom-tiny">
                        <%= plant.plant_type.common_name %>
                      </h2>
                      <h5 class="c-title c-title--label u-margin-bottom-small u-margin-top-none">
                        <%= plant.plant_type.scientific_name %>
                      </h5>
                    </div>
                  </a>
                </div> 
              <% end %>
            </div>
        </div>

        <div class="trade-container-plants">
          <h2>Plants I'm giving</h2>
          <div class="plant-grid">
            <% trade.plants_being_given(current_user).each do |plant| %>
              <div class="c-card plant-card">
                <a href="<%= plant_path(plant) %>">
                  <%= image_tag plant.image, class: "plant-card-image" %>
                  <div class="c-section c-section--flush plant-card-title">
                    <h2 class="c-title u-padding-top-small u-margin-bottom-tiny">
                      <%= plant.plant_type.common_name %>
                    </h2>
                    <h5 class="c-title c-title--label u-margin-bottom-small u-margin-top-none">
                      <%= plant.plant_type.scientific_name %>
                    </h5>
                  </div>
                </a>
              </div> 
            <% end %>
          </div>
      </div>
    </div> 
  <% end %>
<% end %>
<% if @trades_completed.blank? & @trades_pending.blank? %>
  <div class="c-section">
    <h1 class="c-title c-title--medium u-margin-bottom-small">
      You have no current trades.
    </h1>
    <%= link_to("Well, let's change that!", new_trade_path, class: "c-button c-button--focal") %>
  </div>
<% end %>



