<h1>My Trades</h1>
<% @trades.each do |trade| %>
  <div>

    <h2>Trade with <%= trade.user_a.first_name %>, <%= trade.created_at %>, ID: <%= trade.id %></h2>
     
      <h3>Plants I'm getting</h3>
      <% trade.plants_being_received(current_user).each do |plant| %>
        <div><%= plant.plant_type.common_name %></div>
      <% end %>

      <h3>Plants I'm giving</h3>
      <% trade.plants_being_given(current_user).each do |plant| %>
        <%= plant.plant_type.common_name %>
      <% end %>

  </div>
<% end %>


<hr>




<br/>
<br/>

<h1>Proposed Trades</h1>
<%# @proposed_trades.each do |trade| %>
  <div>
    <h2>Trade with <%# trade.user_a.first_name %>, <%# trade.created_at %></h2>
    <%# trade.plants.each do |plant| %>
      <h3>Plants you're getting</h3>
        <%# if plant.user_id == current_user.id %>
            <div class="plant-list-item--plant-name">
              <<%# plant.plant_type.common_name %> <br />
            </div>
        <%# end %>
      <div>User: <%# plant.user_id %></div>
    <%# end %>
  </div>
end