<!DOCTYPE html>
<html>
  <head>
    <title>PlantShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <p>
      <%= link_to("Home", root_path) %>
      <%= link_to("Sign Up", new_user_registration_path) %>
      <%= link_to("Sign In", user_session_path) %>
      <%= link_to("Sign Out", destroy_user_session_path, :method => 'delete') %>
      <%= link_to("All Plant Types", plant_types_index_path)  %>
      <%= link_to("Plants for Trade", plants_path) %>
    </p>
    <p>
      <%= link_to("Trades New", trades_new_path) %>
      <%= link_to("Trades index", trades_index_path) %>
      <%= link_to("Trades Show", trades_show_path) %>
    </p>
    <p>
      <%= link_to("Add a plant to your shelf", new_plant_path) %>
    </p>
    <%= yield %>
  </body>
</html>
