<!DOCTYPE html>
<html>
  <head>
    <% if content_for?(:title) %>
     <title><%= content_for(:title) %> | Sunroom</title> 
    <% else %>
      <title>Sunroom</title>
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
  </head>
  <body>
    <header>
      <div class="global-header">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <ul class="c-navigation">
          <li class="c-navigation__item">
            <%= link_to("🌿 Sunroom", root_path, class: "c-navigation__title u-margin-left-small") %>
          </li>
          <% if current_user %>
            <li class="c-navigation__item">
              <%= link_to("My Plants", user_plants_path(current_user), class: "c-navigation__link #{active_class(user_plants_path(current_user))}") %>
            </li>
          <% end %>
          <li class="c-navigation__item">
            <%= link_to("Find a plant", new_trade_path, class: "c-navigation__link #{active_class(new_trade_path)}") %>
          </li>
          <% if current_user %>
            <li class="c-navigation__item">
              <%= link_to("My Trades", trades_path, class: "c-navigation__link #{active_class(trades_path)}") %>
              <% if current_user.trades_as_user_b.where(status: "pending").any? %>
                <div class="c-navigation__badge"><%= current_user.trades_as_user_b.where(status: "pending").count %></div>
              <% end %>
            </li>
          <% end %>

          <% if current_user %>
            <div class="avatar c-navigation__item--push-right">
              <div class="avatar-small">
                <% if current_user.avatar.attached? %>
                  <%= image_tag current_user.avatar, class: "avatar-small-image" %>
                <% end %>
              </div>
              <%= current_user.first_name %>
              <div class="avatar-dropdown">
                <li class="c-navigation__item">
                  <%= link_to("My Profile", user_path(current_user), class: "c-navigation__link #{active_class(user_path(current_user))}") %>
                </li>
                <li class="c-navigation__item">
                  <%= link_to("Edit My Profile", edit_user_registration_path, class: "c-navigation__link #{active_class(edit_user_registration_path)}") %>
                </li>
                <li class="c-navigation__item">
                  <%= link_to("Sign Out", destroy_user_session_path, :method => 'delete', class: "c-navigation__link #{active_class(destroy_user_session_path)}") %>
                </li>
              </div>
            </div>
          <% else %>
            <li class="c-navigation__item c-navigation__item--push-right">
              <%= link_to("Sign In", new_user_session_path, class: "c-navigation__link #{active_class(new_user_session_path)}") %>
            </li>
            <li class="c-navigation__item">
               <%= link_to("Sign Up", new_user_registration_path, class:"c-button c-button--small #{active_class(new_user_registration_path)}") %>
            </li>
          <% end %>

        </ul>
      </div>
    </header>
<!--     <div class="c-section"> -->
    <%= yield %>
    <!-- </div> -->
  </body>
</html>
